<!DOCTYPE HTML>
<html>

    <form action="/phonecall" method="post">
        <table>
            <tr>
                <td>My number: </td>
                <td><input type="text" id="phonenumber" name="phonenumber" /></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td><input type="text" id="message" name="message" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Call me" />
                </td>
            </tr>
        </table>
    </form>

</html>