<!DOCTYPE HTML>
<html>
    <head>
        <title>Phonecall Form</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>

        <p th:text="${loopCounterValue}" />

        <form action="/phonecall" method="post" class="form-inline">
            <div class="form-group">
                <label for="number">My number</label>
                <input type="text" class="form-control" id="number" name="number" placeholder="07712345678" />
            </div>

            <div class="form-group">
                <label for="text">Message</label>
                <input type="text" class="form-control" id="text" name="text" placeholder="Hi there" />
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </body>

</html>